<h3>"it makes your long ass urls short."</h3>

don't just type 'google', dumbass.

<% form_for(@link) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :url, :class => "url"%>
  </p>
  <p>
    <%= f.submit "AndyURL!", :class => "button"%>
  </p>
<% end %>
